 <span class="close">&times;</span>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @option_type } %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Add New <%= @option_type.name %>
    </div>
    <table class="table table-condensed table-bordered sortable" data-hook data-sortable-link="<%= update_values_positions_admin_option_types_url %>">
      <thead data-hook="option_header">
        <tr>
          <th colspan="2"><%= Spree.t(:name) %> <span class="required">*</span></th>
          <th><%= Spree.t(:display) %> <span class="required">*</span></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="option_values">
        <% if option_type.option_values.empty? %>
          <tr id="none" data-hook="option_none">
            <td colspan="2"><%= Spree.t(:none) %></td>
            <td class="actions text-center"></td>
          </tr>
        <% else %>
            <%= render partial: 'spree/admin/option_types/modal_option_value_fields',locals: { option_type: @option_type } %>
        <% end %>
      </tbody>
    </table> 
    <div class="panel-footer text-center">
      <div class="form-actions" data-hook="buttons">
  <%= button Spree.t('actions.update'), 'refresh', 'submit', {class: 'btn-success', id:'option_save_'+@option_type.name , data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
  <span class="or"><%= Spree.t(:or) %></span>
  <%= button Spree.t('actions.cancel'), icon: 'delete' %>
</div>

    </div>
  </div>

   <script type="text/javascript">

$(document).on("click", '#option_save_<%= @option_type.name %>', function(event){
        console.log($('#admin_option_values_name_<%= @option_type.name %>').val());
        $.post('/optiontypecreate?name='+$("#admin_option_values_name_<%= @option_type.name %>").val()+'&presentation='+$("#admin_option_values_presentation_<%= @option_type.name %>").val()+'&option_type='+$("#option_type_<%= @option_type.name %>").val(),function(data){
            console.log(data[2]);
            if(data[1]==true){
                $("#checkemailsuccess").show();
                $("#checkemailsuccess").text("Option Value Added");
                $("#checkemailfail").hide();
                $('.modal').hide();    
            }
            else{
                $("#checkemailfail").show();
                $("#checkemailfail").text("Sorry! Option Value already available");    
                $("#checkemailsuccess").hide();
                $('.modal').hide();
            }
            
        });
});

</script>