<tr class="option_value fields" id="spree_<%= dom_id(f.object) %>" data-hook="option_value">
  <td class="move-handle text-center">
    <span class="icon icon-move handle"></span>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :supplier_id, :value => spree_current_user.id %>

    <% if spree_current_user.admin? %>
    <%= f.hidden_field :supplier_id,:value => true %>
    <% end %>
  </td>
  <td class="name"><%= f.text_field :name, class: "form-control" %></td>
  <td class="presentation"><%= f.text_field :presentation, class: "form-control" %></td>
<% if spree_current_user.admin? %>  <td class="actions actions-1 text-center"><%= link_to_icon_remove_fields f %></td> <%end %>
</tr>
