<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>
<style type="text/css">
img {
    height:50px;
    width:50px;
    background:white;
}
input[name=variant[][image]] {
    display:none;
}
</style>
<% content_for :page_title do %>
  <%= link_to Spree.t(:products), spree.admin_products_url %> /
  <%= Spree.t(:new_product) %>

<% end %>
<table class="table">
  
  <thead>
  <tr>
  <th>Name</th>
  <th>Model No</th>
  <th>Category</th>
  <th id="quantity">Quantity</th>
  <th id="price">Price</th>
  <th>Image</th>
</tr>
</thead>
  <tr>
<%= form_for [:admin, @product], html: { multipart: true } do |f| %>
    <td>
  <fieldset data-hook="new_product">
    <%= f.field_container :name, class: ['form-group'] do %>
      <!-- <%= f.label :name, Spree.t(:name) %> <span class="required">*</span> -->
      <%= f.text_field :name,name: "product[][name]", class: 'form-control title', required: :required %>
      <%= f.error_message_on :name %>
    <% end %>
</td>
<td>
    <div data-hook="new_product_attrs">
      <% unless @product.has_variants? %>
        <div data-hook="new_product_sku">
          <%= f.field_container :sku, class: ['form-group'] do %>
            <!-- <%= f.label :sku, Spree.t(:sku) %> -->
            <%= f.text_field :sku,name: "product[][sku]", size: 16, value:([*('A'..'Z'),*('0'..'9')]-%w(0 1 I O)).sample(8).join,class: 'form-control', required: :required , :readonly => true %>
            <%= f.error_message_on :sku %>
          <% end %>
        </div>
      <% end %>
</td>

     <!--  <div data-hook="new_product_available_on">
        <%= f.field_container :available_on, class: ['form-group'] do %>
          <%= f.label :available_on, Spree.t(:available_on) %>
          <%= f.error_message_on :available_on %>
          <%= f.text_field :available_on, class: 'datepicker form-control' %>
        <% end %>
      </div> -->
          <td>
        <div data-hook="admin_product_form_taxons">
    <%= f.field_container :taxons, class: ['form-group'] do %>
      
        <%= f.hidden_field :taxon_ids, name:"product[][taxon_ids]" ,class:['product_taxon_ids'], value: @product.taxon_ids.join(',') %>
      
        <ul class="text_list">
          <% @product.taxons.each do |taxon| %>
            <li><%= taxon.name %></li>
        <% end %>
        </ul>
  </div>
  <% end %>
    </td>
  <td id="tdquantity">
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"product[][quantity]",class: 'form-control', value: 1 %>
          <% end %>
        </div>
</td>
     <!--  <div data-hook="new_product_prototype">
        <%= f.field_container :prototype, class: ['form-group'] do %>
          <%= f.label :prototype_id, Spree.t(:prototype) %>
          <%= f.collection_select :prototype_id, Spree::Prototype.all, :id, :name, {include_blank: true}, {class: 'select2'} %>
        <% end %>
      </div> -->
<td id="tdprice">
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "product[][price]",:step => 50,min:0,class: 'form-control', required: :required, id: "master_product product_price" %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
     <div data-hook="new_product_shipping_category">
        <%= f.field_container :shipping_category, class: ['form-group'] do %>
           <%= f.hidden_field :shipping_category_id,name: "product[][shipping_category_id]", size: 16, value:1,class: 'form-control' %>
          <%= f.error_message_on :shipping_category_id %>
        <% end %>
      </div> 
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile1" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"images[][image]",style:"display:none" %>
    </div>
     <div data-hook="file" class="form-group image2">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile1" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"images[][image]",style:"display:none" %>
    </div>
    </td>
<td><img id="blah" src="#" alt="" /></td>
    </div>

</tr>
</table>
<h4 class="labelvariant"> Variants </h4>
<table class="table" id="oChild">
  <thead>
    <tr>
  <th>Color</th>
  <th>Size</th>
  <th>Quantity</th>
  <th>price</th>
  <th>Image</th>
</tr>
  </thead>
  <tr>
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"]} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"]} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control', value: 1, min:0  %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 ,class: 'form-control',id:'first_product product_price' %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
        <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile2" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none" %>
    </div>
  </td>
  <td>
 
  </td>
    
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
  
  <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled=>"disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"],:disabled=>"disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control', value: 1, min:0 ,disabled:true %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control' ,disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
  <td>
 </td>
    <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
    <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled=>"disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"],:disabled=>"disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control', value: 1, min:0 ,disabled:true %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control' ,disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
  <td>
 </td>
    <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
    <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled=>"disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"],:disabled=>"disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control', value: 1, min:0 ,disabled:true %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control' ,disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
  <td>
 </td>
    <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
    <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled=>"disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"],:disabled=>"disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control', value: 1, min:0 ,disabled:true %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control' ,disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
  <td>
 </td>
    <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
    <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled=>"disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"],:disabled=>"disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control', value: 1, min:0 ,disabled:true %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control' ,disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
  <td>
 </td>
    <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
    <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled=>"disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"],:disabled=>"disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control', value: 1, min:0 ,disabled:true %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control' ,disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
  <td>
 </td>
    <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
   <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled=>"disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"],:disabled=>"disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]", min:0 ,class: 'form-control', value: 1,disabled:true %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control',disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
  <td>
 </td>
    <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
   <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled=>"disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name,{},{:name => ["variant[][option_types_size]"],:disabled=>"disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control', value: 1, min:0 ,disabled:true %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control',disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
    <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
    <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
   <tr id="DocumentRow" style="display: none">
    <td>
        <div class="form-group" data-hook="presentation">
          <%= f.collection_select :option_types,
          Spree::OptionValue.where(:option_type_id=>1), :id, :name,{},{:name => ["variant[][option_types]"],:disabled => "disabled"} %>
        </div>
    </td>
       <td>
        <div class="form-group" data-hook="presentation">
          <%= f.field_container :quantity, class: ['form-group'] do %>
          <%= f.collection_select :option_types, 
          Spree::OptionValue.where(:option_type_id=>2), :id, :name, {},{:name => ["variant[][option_types_size]"],:disabled => "disabled"} %>
          <% end %>
        </div>
    </td>
    <td>
  <div class="form-group">
          <%= f.field_container :quantity, class: ['form-group'] do %>
            <%= f.number_field :quantity,name:"variant[][quantity]",class: 'form-control',disabled:true, min:0 , value: 1 %>
          <% end %>
        </div>
</td>
    <td>
      <div data-hook="new_product_price">
        <%= f.field_container :price, class: ['form-group'] do %>
<!--           <%= f.label :price, Spree.t(:price) %> <span class="required">*</span> -->
          <%= f.text_field :price,name: "variant[][price]",:step => 50, value: number_to_currency(@product.price, unit: ''), min:0 , class: 'form-control' ,disabled:true %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
</td>
<td>
       <div data-hook="file" class="form-group">
         <img src="http://www.returntosundaysupper.com/wp-content/themes/sundaysupper/images/bloglovin.png" id="upfile5" style="cursor:pointer" class="img" />
      <%= f.file_field :attachment,name:"variant[][image]",style:"display:none",disabled:true %>
    </div>
  </td>
   <td><a href="#" class='btn btn-default rmv' >Remove</a></td>
  <td><a href="JavaScript:Void(0)" class='btn btn-default add' >Add</a></td>
  </tr>
</table>
    <div data-hook="product-from-prototype" id="product-from-prototype">
      <%= render file: 'spree/admin/prototypes/show' if @prototype %>
    </div>

    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>



<script type="text/javascript">
//<![CDATA[
  (function($){
    var base_url = "<%= spree.admin_prototypes_url %>";
    var prototype_select = $('#product_prototype_id');
    prototype_select.change(function() {
      var id = prototype_select.val();
      if (id.length) {
        var url = new Uri(base_url);
        url.setPath(url.path() + '/' + id);
        $('#product-from-prototype').load(url.toString());
      } else {
        $('#product-from-prototype').empty();
      }
    })
    if (prototype_select.html() == "") {
      prototype_select.change();
    }
  })(jQuery);
//]]>
</script>
<script type="text/javascript">
/*$('#addVariant').click(function () {
    var t = $('#oChild');
    var clone = t.find('#DocumentRow').clone(true);
    clone.attr('id', '');
    clone.find(':text').val('');
     clone.find('#product_sku').hide();
     clone.find('#s2id_autogen1').hide();
     clone.find('.select2-choices').hide();
     clone.append("<td><button class='rmv' >Remove</button></td>");
    t.append(clone);
});*/
var currentrow = 3;
$('table tr:eq(2)').show();
$("#addVariant").click(function() {
currentrow++;
  $('table tr:eq(' + currentrow  + ')').show();
$('table tr:eq(' + currentrow  + ')').find('#product_quantity').prop('disabled', false);
$('table tr:eq(' + currentrow  + ')').find('#product_option_types').prop('disabled', false);
$('table tr:eq(' + currentrow  + ')').find('#product_price').prop('disabled', false);
$('table tr:eq(' + currentrow  + ')').find("input[name='variant[][image]']").prop('disabled', false);
});
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var img =  $("img");
            reader.onload = function (e) {
                $(e.target).closest(img)
                    .attr('src', e.target.result)
                    .width(50)
                    .height(50);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
$('table').on('click', '.rmv', function () {
  $(this).closest('tr').hide();
  $(this).closest('tr').prev('tr').find('.add').show();
  $(this).closest('tr').find('#product_quantity').prop('disabled', true);
  $(this).closest('tr').find('#product_option_types').prop('disabled', true);
  $(this).closest('tr').find('#product_price').prop('disabled', true);
  $(this).closest('tr').find("input[name='variant[][image]']").prop('disabled', true);
});
$('table').on('click', '.add', function () {
  $(this).closest('tr').find('.add').hide();
  $(this).closest('tr').next('tr').show();
  $(this).closest('tr').next('tr').find('#product_quantity').prop('disabled', false);
  $(this).closest('tr').next('tr').find('#product_option_types').prop('disabled', false);
  $(this).closest('tr').next('tr').find('#product_price').prop('disabled', false);
  $(this).closest('tr').next('tr').find("input[name='variant[][image]']").prop('disabled', false);
});

//image upload
$(document).on("click", ".img", function () {
    $(this).closest("div").find("input[name='images[][image]']").trigger("click");
});
$(document).on("click", ".img", function () {
    $(this).closest("div").find("input[name='variant[][image]']").trigger("click");
});
var count = 1;
$(".add").on("click", function () {
    count++;
    var row = '<div class="row"><label> Step ' + count + ' </label> <img src="http://png-4.findicons.com/files/icons/129/soft_scraps/256/button_upload_01.png" id="upfile1" style="cursor:pointer" class="img"/ ><input type="file" name="variant[][image]" class="inputimg" />';
    $(".prep").append(row);
    $("input[name='variant[][image]']").change(function () {
        console.log(this);
        readURL(this);
    });
});
$("input[name='variant[][image]']").change(function () {
    readURL(this);
});
$("input[name='variant[][image]']").change(function () {
        console.log(this);
        readURL(this);
    });
$("input[name='images[][image]']").change(function () {
    readURL(this);
});
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $(input).siblings('.img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null){
       return null;
    }
    else{
       return decodeURI(results[1]) || 0;
    }
}
if($.urlParam('single')=='true')
{
 $('#oChild').remove();
 $('.labelvariant').hide();
 $('#addVariant').hide();
 $('.image2').show();
}
if($.urlParam('single')==null)
{
 $('#price').hide();
 $('#quantity').hide();
 $('#tdquantity').hide();
 $('#tdprice').hide();
 $('.image2').hide();
}
var n = document.getElementById("first_product product_price");
var r = document.getElementById("master_product product_price");
n.addEventListener("input", function(e) {
    r.value=n.value;
}, false);
n.addEventListener("keyup", function(e) {
    r.value=n.value;
}, false);
n.addEventListener("change", function(e) {
    r.value=n.value;
}, false);

$(document).ready(function() {
    $("input[name='variant[][price]']").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
});
</script>